@using Newtonsoft.Json;
@{
    var roleId = Context.Session.GetInt32("RoleId");
}
@* @using vcms.core.ViewModels.Accounts;

@{
    string json = Context.Session.GetString("CurrentLoggedinUser");
    UserAccountDetailsViewModel user = JsonConvert.DeserializeObject<UserAccountDetailsViewModel>(json);
} *@

<aside class="main-sidebar elevation-4 sidebar-light-danger">
    <!-- Brand Logo -->
    <a href="#" class="brand-link" style="text-decoration:none">
        <b>Bloggers<span style="color:#ff3131">PRO</span></b>
       @*  <img src="~/Content/dist/img/logo.png" alt="Logo" class="brand-image text-center" style="width: 70%"> *@
        <span style="color:transparent">x</span>
       @* <span class="brand-text font-weight-bold" style="font-size: 0.7em; vertical-align: top;">Document Tracking System</span>*@
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      @*  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">145
                <img src="/content/dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Andrew Coros</a>
            </div>
        </div>*@
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false"> 
                <li class="nav-item" style="cursor:pointer">
                    <a href="/BlogPost" class="nav-link @(ViewBag.ActivePage == "Blog Post" ? "active": "")">
                        <i class="nav-icon pl-1">
                            <svg width="17" height="17" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                            </svg>
                        </i>
                        <p>Blog Post</p>
                       @*  @if (@access.SubMenu.Count() > 0)
                        {
                            <p>
                                @access.FeatureName
                                <i class="fas fa-angle-left right" style="margin-top: 6px;"></i>
                            </p>
                        }
                        else
                        {
                            <p>@access.FeatureName </p>
                        } *@
                    </a>
               @*  @foreach(var access in user.Permissions.Where(i => i.IsParent).OrderBy(i => i.SidebarIndex))
                {
                    <li class="nav-item @(access.FeatureName == ViewBag.ActivePage ? "menu-open":"")  @(access.HasViewPermission ? "":"d-none")" style="cursor:pointer">
                        <a href="@(access.PageUrl != "" ? access.PageUrl:"#")" class="nav-link @(access.FeatureName == ViewBag.ActivePage ? "active":"")">
                            <i class="nav-icon pl-1">
                                @Html.Raw(access.Icon)490
                            </i>
                            @if (@access.SubMenu.Count() > 0)
                            {
                                <p>
                                    @access.FeatureName
                                    <i class="fas fa-angle-left right" style="margin-top: 6px;"></i>    
                                </p>
                            }
                            else
                            {
                                 <p>@access.FeatureName </p>
                            }
                        </a>
                        @if (@access.SubMenu.Count() > 0)
                        {
                            <ul class="nav nav-treeview">
                                @foreach (var subMenu in access.SubMenu.OrderBy(i => i.SidebarIndex))
                                {
                                    <li class="nav-item">
                                        <a href="@subMenu.PageUrl" class="nav-link @(subMenu.FeatureName == ViewBag.ActiveSubPage ? "active":"") @(subMenu.HasViewPermission ? "":"d-none")">
                                            <i class="nav-icon">@Html.Raw(subMenu.Icon)</i>
                                            <p style="padding-left: 1.5em;">@subMenu.FeatureName</p>
                                        </a>
                                    </li>
                                }
                               
                            </ul>
                        }
                    </li>
                } *@
                </li>
                @if(roleId == 1){
                    <li class="nav-item @(ViewBag.ActivePage == "Users" ? "menu-open": "")">
                        <a href="#" class="nav-link @(ViewBag.ActivePage == "Users" ? "active": "")">
                            <i class="nav-icon pl-1">
                                <svg style="
                                 width: 20px;
                                 height: 30px; xmlns:dc=" http:=" " purl.org=" " dc=" " elements=" " 1.1=" " " ="" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" xml:space="preserve" viewBox="0 0 32 40" x="0px" y="0px"><g><path style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1.99999988;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" d="m 14,2.00004 c -3.3019,0 -6,2.69813 -6,6 0,3.30186 2.6981,6 6,6 3.3019,0 6,-2.69814 6,-6 0,-3.30187 -2.6981,-6 -6,-6 z m 0,2 c 2.221,0 4,1.77901 4,4 0,2.22098 -1.779,4 -4,4 -2.221,0 -4,-1.77902 -4,-4 0,-2.22099 1.779,-4 4,-4 z"></path><path style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1.99999988;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" d="m 11,16.00004 c -4.9687,0 -9,4.0313 -9,9 v 2 a 1.0000999,1.0000999 0 0 0 1,1 h 10.8477 a 1.0000999,1.0000999 0 1 0 0,-2 H 4 v -1 c 0,-3.8953 3.1047,-7 7,-7 h 4.0156 a 1.0000999,1.0000999 0 1 0 0,-2 z"></path><path style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate" d="m 22.9868,15.99997 c -0.5577,0.009 -0.9978,0.46216 -0.9902,1.01363 v 1.08785 c -0.6365,0.13114 -1.2295,0.38699 -1.7539,0.7363 L 19.4751,18.0702 c -0.2357,-0.24241 -0.5032,-0.33375 -0.7558,-0.32029 -0.7575,0.0404 -1.3856,1.02733 -0.6583,1.73429 l 0.7715,0.77147 c -0.3475,0.52509 -0.6031,1.1173 -0.7324,1.75382 h -1.0859 c -1.3523,-0.0191 -1.3523,2.01907 0,1.99993 h 1.0898 c 0.1308,0.63059 0.3853,1.21759 0.7305,1.73821 l -0.7774,0.77732 c -0.9697,0.94265 0.4714,2.38369 1.4141,1.414 l 0.7754,-0.77536 c 0.5236,0.34807 1.1149,0.60351 1.75,0.73435 v 1.08784 c -0.019,1.35223 2.019,1.35223 1.9999,0 v -1.08589 c 0.6345,-0.12966 1.2246,-0.38588 1.748,-0.73239 l 0.7813,0.78122 c 0.3931,0.40426 1.0436,0.40425 1.4316,0.004 0.3879,-0.40065 0.3782,-1.03329 -0.018,-1.4179 l -0.7773,-0.77733 c 0.3482,-0.52275 0.6029,-1.11388 0.7343,-1.74797 h 1.0898 c 0.5637,0.008 1.0224,-0.45213 1.0137,-1.00973 -0.01,-0.55758 -0.4622,-0.99774 -1.0137,-0.9902 h -1.0859 c -0.13,-0.64003 -0.3857,-1.23636 -0.7362,-1.76359 l 0.7713,-0.77146 c 0.4043,-0.39295 0.4044,-1.04347 0,-1.43157 -0.1992,-0.193 -0.4558,-0.28763 -0.7108,-0.28515 v 0 0 c -0.255,0.005 -0.508,0.10606 -0.6993,0.30272 l -0.7735,0.7734 C 25.2275,18.48619 24.6359,18.22955 23.9999,18.0996 v -1.0859 c 0.01,-0.56371 -0.4522,-1.02234 -1.0097,-1.01363 z m 0.014,3.99985 c 1.6687,0 2.9999,1.33124 2.9999,2.99987 0,1.66864 -1.3312,2.99989 -2.9999,2.99989 -1.6688,0 -3,-1.33125 -3,-2.99989 0,-1.66863 1.3312,-2.99987 3,-2.99987 z"></path></g><text x="0" y="47" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Ranah Pixel Studio</text><text x="0" y="52" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg>
                            </i>
                            <p>
                                User Management
                                <i class="fas fa-angle-left right" style="margin-top: 6px;"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.ActivePage == "Users" ? "active": "")" href="/Account">
                                    <p style="padding-left: 1.5em;">Users</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <p style="padding-left: 1.5em;">Roles</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-item">
                    <a href="/Account/Logout/" class="nav-link">
                        <i class="nav-icon pl-1">
                            <svg width="17" height="17" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14 8V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2v-2"></path>
                                <path d="M21 12H7"></path>
                                <path d="m18 15 3-3-3-3"></path>
                            </svg>
                        </i>
                        <p>Logout</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->

    <div class="sidebar-custom">
        <a href="#" class="btn btn-link"><i class="fas fa-cogs"></i></a>
        <a href="#" class="btn btn-secondary hide-on-collapse pos-right">Help</a>
    </div>
    <!-- /.sidebar-custom -->
</aside>

